.pagination-container {
  display: flex;
  margin: 20px auto;
  width: fit-content;
  background-color: #fff;
  padding: 8px;
  border-radius: 50px;
  list-style-type: none;
  box-shadow: 0px 10px 15px rgb(0 0 0 / 35%);
}
.pagination-container .pagination-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 0 3px;
  border-radius: 50%;
  width: 45px;
  font-size: 18px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: #3466af;
  color: #ffcb05;
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: #3466af;
  color: #ffcb05;
}

.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow {
  color: #e5e5e5;
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}

@media (max-width: 575px) {
  .pagination-container .pagination-item {
    height: 40px;
    width: 40px;
  }
}

@media (max-width: 470px) {
  .pagination-container .pagination-item {
    height: 25px;
    width: 25px;
    font-size: 16px;
    line-height: 25px;
  }
}

@media (min-width: 385px) and (max-width: 500px) {
  .pagination-container .pagination-item {
    height: 30px;
    width: 30px;
    font-size: 16px;
    line-height: 30px;
  }
}
@media (max-width: 360px) {
  .pagination-container .pagination-item {
    margin: 0 1px;
  }
}
