.pagination-container {
  display: flex;
  margin: 15px auto;
  width: fit-content;
  background-color: #fff;
  padding: 8px;
  border-radius: 50px;
  list-style-type: none;
  box-shadow: 0px 10px 15px rgb(0 0 0 / 35%);
}
.pagination-container .pagination-item {
  display: flex;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  height: 45px;
  margin: 0 3px;
  border-radius: 50%;
  width: 45px;
  font-size: 18px;
  line-height: 45px;
  color: rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item.dots:hover {
  background-color: transparent;
  cursor: default;
}
.pagination-container .pagination-item:hover {
  background-color: #3466af;
  color: #ffcb05;
  cursor: pointer;
}
.pagination-container .pagination-item.selected {
  background-color: #3466af;
  color: #ffcb05;
}
.pagination-container .pagination-item .arrow::before {
  position: relative;
  /* top: 3pt;
	 Uncomment this to lower the icons as requested in comments*/
  content: "";
  /* By using an em scale, the arrows will size with the font */
  display: inline-block;
  width: 0.4em;
  height: 0.4em;
  border-right: 0.12em solid rgba(0, 0, 0, 0.87);
  border-top: 0.12em solid rgba(0, 0, 0, 0.87);
}
.pagination-container .pagination-item .arrow.left {
  transform: rotate(-135deg) translate(-50%);
}
.pagination-container .pagination-item .arrow.right {
  transform: rotate(45deg);
}
.pagination-container .pagination-item.disabled {
  pointer-events: none;
}
.pagination-container .pagination-item.disabled .arrow::before {
  border-right: 0.12em solid rgba(0, 0, 0, 0.43);
  border-top: 0.12em solid rgba(0, 0, 0, 0.43);
}
.pagination-container .pagination-item.disabled:hover {
  background-color: transparent;
  cursor: default;
}
